
/* product image styles */
.mac-img{
    width: 80%;
}
/* product title styles */
.mac-specification-title{
    font-size: 45px;
    line-height: 60px;
    letter-spacing: 1.2px;
}
.mac-text{
    font-size: 18px;
    line-height: 27px;
    font-weight: 400px;
    letter-spacing: 0.05rem;
}
/* specification title styles  */
.specification-title{
    font-size: 22px;
}
/* specification button styles  */
.btn{
    border: 2px solid gray;
    font-size: 19px;
}
.btn:focus{
    outline: 4px solid skyblue;
    
}
/* promo title styles  */
.promo-specification-title{
    font-size: 20px;
}
